﻿@model List<AOP.Models.User>

@{
    ViewBag.Title = "Home Page";
}


@foreach (var user in Model)
{
    <div class="row">
        <div class="col-md-4">
            <h2>@user.Name</h2>
        </div>
        <div class="col-md-4">
            <h2>@user.Age</h2>
        </div>
        <div class="col-md-4">
            <h2>
                @Html.ActionLink(
                linkText: "CheckCodeRewriting",
                actionName: "CodeRewriting",
                controllerName: "CodeRewriting",
                routeValues: new
                {
                    name = user.Name
                },
                htmlAttributes: null)

            </h2>
        </div>
    </div>
}
